[http]
    sslVerify = false
[user]
	name = Shaula
	email = the9ball@gmail.com
[core]
	editor = vim
	autocrlf = false
	eol = lf
[merge]
	tool = vimdiff
[alias]
	co=checkout
	ci=commit
	up=svn rebase
	st=status -sb
	mg=merge --no-ff
	lg=log --stat --summary
	mt=mergetool
	df=diff --ignore-space-at-eol --ignore-space-change
	rb=rebase --ignore-whitespace --autosquash
	mt=mergetool
	pl=pull --rebase
	svncheck=svn dcommit --dry-run

