{{ if eq .chezmoi.os "windows" -}}
# aqua.yaml checksum: {{ include "../aqua.yaml" | sha256sum }}
# winget.json checksum: {{ include "../winget.json" | sha256sum }}
# pre-commit-config.yaml checksum: {{ include "../.pre-commit-config.yaml" | sha256sum }}
$ErrorActionPreference = 'Stop'

$repoRoot = Split-Path -Parent '{{ .chezmoi.sourceDir }}'
$aquaConfig = Join-Path $repoRoot 'aqua.yaml'
$wingetConfig = Join-Path $repoRoot 'winget.json'

$aqua = (Get-Command aqua -ErrorAction Stop).Source
& $aqua install --config $aquaConfig
if ($LASTEXITCODE -ne 0) {
    throw "aqua install failed (exit code: $LASTEXITCODE)"
}

$winget = (Get-Command winget -ErrorAction Stop).Source
& $winget import --import-file $wingetConfig --no-upgrade --ignore-unavailable --accept-source-agreements --accept-package-agreements --disable-interactivity
if ($LASTEXITCODE -ne 0) {
    throw "winget import failed (exit code: $LASTEXITCODE)"
}

$prek = (Get-Command prek -ErrorAction Stop).Source
Push-Location $repoRoot
try {
    & $prek install --overwrite
}
finally {
    Pop-Location
}
if ($LASTEXITCODE -ne 0) {
    throw "prek install failed (exit code: $LASTEXITCODE)"
}
{{- end }}
